* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  background-color: #f7f7f7;
}

main {
  margin: 4rem;
}

.nav-container {
  background-color: #292b2c;
  font-family: Fantasy;
  color: #0275d8;
  font-size: 2rem;
  padding: 2.5rem 4rem;
  position: fixed;
  top: 0;
  width: 100vw;
  letter-spacing: 0.3rem;
  z-index: 10;
}

.new-post-container {
  display: flex;
  gap: 2rem;
  height: 50px;
  margin-top: 12rem;
}

#new-post-input {
  flex-grow: 1;
  color: grey;
  font-size: 2rem;
  padding: 1rem;
}

#twit-button {
  background-color: #0275d8;
  border-radius: 2px;
  box-shadow: 2px 2px grey;
  font-size: 3rem;
  font-weight: 600;
  width: 15rem;
  padding: 1rem;
}

.post-container {
  border-radius: 7px;
  border: 1px solid #b0b0b0;
  box-shadow: 2px 2px grey;
  margin: 2.5rem auto;
  padding: 2rem;
}

.post-text {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.comment-container {
  margin: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comment-x {
  width: 1.25rem;
  height: 1.25rem;
  bottom: -0.5rem;
}

.comment-text {
  font-size: 1.5rem;
}

.add-comment-container {
  display: flex;
  gap: 1rem;
}

.add-comment-container input {
  font-size: 1.5rem;
  padding: 1rem;
}

.new-comment-input {
  width: 30rem;
}

.comment-writer {
  width: 20rem;
}

.comment-button {
  background-color: #5cb85c;
}

.delete-button {
  background-color: #d9534f;
  border-radius: 2px;
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 1rem;
}

.comment-button,
.delete-button,
#twit-button {
  border-radius: 3px;
}

#twit-button:hover,
.comment-button:hover,
.delete-button:hover,
.comment-x:hover {
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .add-comment-container {
    flex-direction: column;
  }

  .add-comment-container * {
    width: 100%;
  }
}
