body {
    background-color: #ECF0F1;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-container {
    font-family: Fantasy;
}

.new-post-container {
    border-radius: 15px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 150px;
    height: 50px;
}

#new-post-input {
    color: grey;
    font-size: 20px;
}

#twit-button {
    background-color: #3498DB;
    border-radius: 2px;
    box-shadow: 2px 2px grey;
    font-size: 25px;
}

.main-posts-container {
    padding-inline: 15px;
}

.post-container {
    border-radius: 7px;
    border: 1px solid #b0b0b0;
    box-shadow: 2px 2px grey;
    margin: 30px auto;
    padding: 10px 20px;
}

.main-comments-container {
    padding-inline-start: 20px;
}

.comment-container {
    height: 40px;
}

.comment-x {
    float: left;
    height: 10px;
    margin-top:-6px;
    padding: 10px;
}

.comment-x:hover{
    cursor: pointer;
}

.comment-text {
    margin-inline-start: 20px;
}

.add-comment-container input{
    margin-inline-end: 8px;
}

.new-comment-input, .comment-writer {
    height: 20px;
    width: 200px;
}

.comment-button {
    height: 25px;
    width: 80px;
}

.delete-button {
    background-color: red;
    border-radius: 2px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
}